/* Universal Styles */
font-family: 'Hind', sans-serif;
font-family: 'Yantramanav', sans-serif;

html {
  font-size: 16px;

}

body {
  /* font-family: 'Hind', sans-serif; */
  color: #717275;
  font-family: 'Lato', sans-serif;
  text-align: left;

}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2em;
  /* text-align: left; */
  color: #4b4e4f;
}


.container {
  color: #4b4e4f;

}

.container h3{
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.container span {
  font-size: .90rem;
  padding-bottom: 80px;
}


/*  Header */


header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
  align-items: center;

}


header img {
  height: 32px;

}

.company {
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 600;

}

.name {
  padding-top: 6px;
}


.colmar{
  color: #4b4e4f;
  padding-left: .20rem;

}

.academy {
    color: #b7bbbc;
}


/*  Nav */
nav ul{
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #717275;
}

.border {
  background-color: #7fe4e8;
  height: 64px;
  width: 16px;
}


/* Banner */

.banner {
  background-color: lightgray;
  display: flex;

}

.banner img{
  display: flex;
  width: 60%;
  height: auto;
  padding: 32px 24px;
}

.banner-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25%;



}

/* .banner-copy h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2em;
  text-align: left;
  color: #4b4e4f;

} */

.banner-copy h3 {
  color: #4b4e4f;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.6em;
  /* text-align: left; */

}

.button {
  font-size: 1.5rem;
  background-color: #4b4e4f;
  width: 312px;
  height: 45px;
  text-align: center;



}

.button span {
  position: relative;
  color: white;
  top: 8px;

}




/* Information Section */

.info {
  display: flex;
}

.practicing {
  width: 60%;
  padding: 32px 24px;


}

.practicing img {
  width: 100%;
  height: auto;

}

.practicing h1 {
  padding: 32px 0 24px 0;
}

.practicing p {
  font-weight: 300;
  line-height: 1.5em;
}

.practicing span {
  font-size: .85rem;
  font-weight: bold;
  position: relative;
  top: 32px;
}

.info-modules {

  width: 40%;
  padding-top: 32px;
  border-left: 1px solid lightgray;
  position: relative;

}
.orientation .module-copy {
  display: inline-block;
  /* float: right; */
  max-width: 35%;
  position: absolute;
 top: 70px;

}

.campus .module-copy {
  display: inline-block;
  /* float: right; */
  max-width: 35%;
  position: absolute;
  top: 290px;

}

.lecture .module-copy {
  display: inline-block;
  /* float: right; */
  max-width: 35%;
  position: absolute;
  top: 490px;

}

.module img {
  width: 35%;
  height: auto;
  /* padding-right: 24px; */
  padding: 16px 24px;
}

.module-copy span {
  line-height: 1.5em;
}

.read-more a{
  color: #7fe4e8;
}

.lecture {
  background-color: lightgray;
}
/* Start Learning */


/* Thesis Exhibit */



/* Footer */
