/* Universal Styles */
font-family: 'Hind', sans-serif;
font-family: 'Yantramanav', sans-serif;

html {
  font-size: 16px;
}

body {
  /* font-family: 'Hind', sans-serif; */
  color: #717275;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2em;
  /* text-align: left; */
  color: #4b4e4f;
}

span,
p {
  color: #949496;
}
.container {
  color: #4b4e4f;
}


.container h3{
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.container span {
  font-size: .90rem;
}


/*  Header */


header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
  align-items: center;
}


header img {
  height: 32px;
}

.company {
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 600;
}

.name {
  padding-top: 6px;
}


.colmar{
  color: #4b4e4f;
  padding-left: .20rem;
}

.academy {
    color: #b7bbbc;
}


/*  Nav */
nav ul{
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #717275;
}

.border {
  background-color: #7fe4e8;
  height: 64px;
  width: 16px;
}


/* Banner */

.banner {
  display: flex;
  background-color: #e0e2e5;
}


.banner-image-container {
  width: 60%;
  display: flex;
  padding: 32px 0 32px 24px;
  flex-direction: column;
}

.banner-image-container img{
  width: 103.75%;

}

.banner-copy-container {
  width: 40%;

}

.banner-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}



.banner-copy h3 {
  color: #4b4e4f;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.6em;
}

.button {
  font-size: 1.5rem;
  background-color: #4b4e4f;
  width: 312px;
  height: 45px;
  text-align: center;
}

.button span {
  position: relative;
  color: white;
  top: 8px;
}




/* Information Section */

.info {
  display: flex;
  padding-bottom: 32px;
}

.practicing {

  width: 60%;
  display: flex;
  padding: 32px 0 32px 24px;
  flex-direction: column;
  /* margin-bottom: 12px; */
}

.practicing img {
  width: 100%;
  height: 100;
}

.practicing h1 {
  padding: 32px 0 24px 0;
}

.practicing p {
  font-weight: 300;
  line-height: 1.5em;

}

.practicing span {
  font-size: .85rem;
  font-weight: bold;
  position: relative;
  top: 32px;

}


/* Information Module Section  */

.info-modules {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 24px;
  border-left: 1px solid #edeeef;
  margin-bottom: 34px;
}

.module {
  display: flex;
  padding: 16px;
  width: 100%;
}

.module img {
 width: 35%;
 height: 100%;
}

.module-copy {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  padding-left: 20px;
}

.campus {
  border-top: double  #edeeef;

}

.orientation {
   padding-top: 32px;
}

.module-copy span {
  padding-bottom: 8px;
  line-height: 1.4rem;
}

.read-more a{
  color: #4286f4;
}

.lecture {
  background-color: #e0e2e5;
}



/* Start Learning */

.learning {
  background-color: #edeeef;
}

.learning h1 {
  text-align: center;
  padding: 32px 0;
}


.classes-container {
  display: flex;
}


.classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 72px;
}

.class {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  padding-bottom: 32px;
  background-color: white;
  margin: 12px;
}

.class-row2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  padding-bottom: 32px;
  background-color: white;
  margin: 12px;
}

.class img, .class-row2 img {
width: 100%;
}

.class h3, .class-row2 h3{
  padding: 16px;
}

.class span, .class-row2 span{
  padding: 8px 16px;
}

.class-desc {
  line-height: 1.4rem;
  padding-bottom: 24px;
}


/* Thesis Exhibit */


.thesis-title {
  text-align: center;
  padding: 32px 0;
}

.exhibit {
  display: flex;
}

.thesis {
  width: 60%;
  padding: 0 24px 24px 24px;
}


video {
  width: 100%;
}


/*  Thesis module section */



.thesis-modules {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.exhibit-module {
  display: flex;
}
.thesis-modules img {
  width: 35%;
  height: 100%;
  padding: 16px;
}

.module1 {
  background-color: #e0e2e5;
}


.exhibit-copy {
  display: flex;
  flex-direction: column;
  width: 65%;
}

/* Footer */
